{% extends "users/dashboard.html" %}
{% load static %}
{% load humanize %}
{% block title %}User: {{ object.username }}{% endblock %}


{% block container %}
            <div class="card mb-4">
              <div class="card-body">
                      <div class="row" style="height: 60px; padding: 1rem;">
                          <div class="col-sm-1 text-info fw-bold">
                            Id
                          </div>
                          <div class="col-sm-2 text-info fw-bold">
                            Proyecto
                          </div>
                         <div class="col-sm-2 text-info fw-bold">
                            Fecha
                          </div>
                          <div class="col-sm-1 text-info fw-bold">
                            #
                          </div>
                         <div class="col-sm-1 text-info fw-bold">
                             $
                          </div>
                         <div class="col-sm-2 text-info fw-bold">
                            ¿Aprobado?
                         </div>
                        <div class="col-sm-2 text-info fw-bold text-center">
                            Voucher
                        </div>
                      </div>
                {% for project in object_list %}
                  {% if project.buyer.id is user.id %}
                      {% if project.approved %}
                        <div class="row" style="height: 60px; padding:1rem;">
                          <div class="col-sm-1">
                            <p class="mb-0">{{ project.id }}</p>
                          </div>
                          <div class="col-sm-2">
                            <p class="text-muted mb-0">{{ project.nft.name }}</p>
                          </div>
                          <div class="col-sm-2">
                            <p class="text-muted mb-0">{{ project.created }}</p>
                          </div>
                          <div class="col-sm-1">
                            <p class="text-muted mb-0">{{ project.bonuses }}</p>
                          </div>
                          <div class="col-sm-1">
                            <p class="text-muted mb-0">{{ project.purchase }}</p>
                          </div>
                              <div class="col-sm-2">
                                <p class=" mb-0 text-success fw-bold">Aprobado</p>
                              </div>
                          <!--<div class="col-sm-2 text-center">
                              <a href="{% url 'sniper:add-voucher' project.id %}" class="mb-0 fw-bold text-center" style="text-decoration:none;">
                                <p>Adjuntar</p>
                              </a>
                          </div>-->
                          {% if project.voucher %}
                            <div class="col-sm-2 text-center">
                              <a href="{% url 'sniper:show-voucher' project.id %}" class="mb-0 fw-bold text-success text-center" style="text-decoration:none;">
                                <!--<img src="{{ project.voucher.url }}" alt="{{ project.voucher.url }}" style="object-fit:contain ; width:80%; height:80%;">-->
                                <p>Ver voucher</p>
                              </a>
                            </div>
                          {% else %}
                            <div class="col-sm-2 text-center">
                                <a href="{% url 'sniper:add-voucher' project.id %}" class="mb-0 fw-bold text-center" style="text-decoration:none;">
                                  <p>Adjuntar</p>
                                </a>
                            </div>
                          {% endif %}
                        </div>
                      {% endif %}
                  {% endif %}
                {% endfor %}
              </div>
            </div>
{% endblock %}
