{% extends "base.html" %}

{% block content %}
 <div class="container marketing" style="margin-top:3rem;">

    <!-- START THE FEATURETTES -->
    <!--<div class="row featurette" style="vertical-align:middle;">
      <div class="col-md-7 text-center" style="display:flex; flex-direction: column; align-items:center; justify-content:center;">
         <form method="post" style="display:flex; flex-direction:column; justify-content:center;">
               {% csrf_token %}
             <h2 class="featurette-heading fw-normal lh-1">Envíanos un mensaje</h2>
             <p class="text-center">
                 "Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br>
                 sed do eiusmod tempor incididunt ut labore et dolore magna<br>
                 aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco<br>
                 laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor<br>
                 in reprehenderit in voluptate velit esse cillum dolore eu fugiat<br>
                 nulla pariatur. Excepteur sint occaecat cupidatat non proident,<br>
                 sunt in culpa qui officia deserunt mollit anim id est laborum."
             </p>
                {{ form }}
              <div style="display:flex; flex-direction: row; justify-content:center; margin-top:2rem;">
                    <button style="width:100%" class="btn btn-success text-white" type="submit" value="Registrar">Registrar</button>
              </div>
        </form>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">><text x="50%" y="50%" fill="#aaa" dy=".3em">400x400</text></svg>

      </div>
    </div>
    </div>- /.row -->
     <div class="container">
        <!--<form action="" method="post">
            {% csrf_token %}
            {{ form  }}
        <button class="btn btn-success my-3" type="submit">Send message</button>
        </form>-->
    </div>
  </div><!-- /.container -->


{% endblock %}
